{
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./windi.config.js"
}
