<script>
export default {
  name: '{{ pascalCase NAME }}',
}
</script>
<template>
  <div class="{{ dashCase NAME }}">{{ pascalCase NAME }}</div>
</template>
<style lang="scss">
.{{ dashCase NAME }} {
  //
}
</style>
