<script>
export default {
  name: '{{ pascalCase NAME }}Page'
}
</script>
<template>
  <div class="{{ dashCase NAME }}-page">
    {{ pascalCase NAME }}Page
  </div>
</template>
<style lang="scss">
.{{ dashCase NAME }}-page {
  //
}
</style>
